$radius: 10vw;
$border: .5vw;
$hole-radius: 2.5;

.donut {
  border-radius: 50%;
  box-shadow:.5vw .5vw 0 rgba(0,0,0,.1);
  float: left;
  height: $radius;
  width: $radius;
  margin: .5vw;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.hole {
  border-radius: 50%;
  box-shadow: inset .5vw .5vw 0 rgba(0,0,0,.1);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: $radius/$hole-radius;
  width: $radius/$hole-radius;
  transform: translateX(-50%) translateY(-50%);
}

.donut.glazed {
  background-color: $cream;
  border: $border solid $wheat;

  &::before {
    @extend .hole;
    background-color: white;
    border: $border solid $wheat;
  }
}

.donut.sprinkles {
  background-color: $pink;
  border: $border solid $wheat;
  background-image: radial-gradient(
    #0fc 15%, transparent 16%),
    radial-gradient(yellow 15%,
      transparent 16%);
  background-size: 2vw 2vw;
  background-position: 0 0, 10px 10px;

  &::after {
    @extend .hole;
    background-color: white;
    border: $border solid $wheat;
  }
}

.donut.chocolate {
  background-color: $dark-brown;
  border: $border solid $brown;
  &::before {
    @extend .hole;
    background-color: white;
    border: $border solid $brown;
  }
}
