* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  color: $dark-brown;
}

.title {
  font-size: 3em;
}

.row {
  display: block;
  width: 100vw;
  height: 30%;
}

.fixed-action-btn {
  bottom: 45px;
  right: 24px;
}

button {
  margin: 2em;
}
