* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Montserrat, sans-serif;
  color: $dark-brown;
}

button {
  margin: 2em;
}

#donuts, main {
  width: 100%;
}

.title {
  font-size: 3em;
  margin-bottom: 70px;
}

.row {
  display: block;
  width: 100%;
  height: 30%;
}

.fixed-action {
  top: 1.5em;
  right: 3em;
  height: 2em;
}

.reset {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.turn {
  position: fixed;
  bottom: 1em;
  left: 1em;
  height: auto;
  margin: 0;
  &:hover .btn-floating {
    cursor: default;
  }
}

.progress {
  padding-top: 35px;
  margin-top: 30px;
}

.intro {
  margin-left: 1em;
}

.message {
  position: fixed;
  top: 50vh;
  left: 34vw;
}
